@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
.app {
    height: auto;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .app.light {
    background-color: #ffffff;
    color: #2b2727;
  }
  
  .app.dark {
    background-color: #3a3737;
    color: #ffffff;
  }
  
  button {
    margin: 10px;
    padding: 2px 3px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  